# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd



# VS Code settings
.vscode/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

run.bat
RUN.md

zta_scenario_simulator.py
zta_attack_simulator.py